body {
    background-color: darkgray;
}

.container {
    /*height: 100vh;*/
    overflow: auto;
}

.parcelMachineChoice {
    margin-top: 32px;
    margin-bottom: 32px;
}

.row {
    margin: 32px;
}

.parcelMachineMainMenu {
    margin-top: 32px;
    margin-bottom: 32px;
}

.btn {
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: brown;
}

#addNewProductButton {
    background-color: brown;
}

.modal-footer .btn {
    background-color: brown;
}

.btn-secondary {
    margin: 16px;
}

.img-fluid{
    border-radius: 25px;
}